/* ==================================
   FOOTER - ÍCONES SOCIAIS
================================== */

.footer-social {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #111;
    padding: 20px;
    margin-top: 220px;

}


/* Links */

.footer-social a {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #bbb;
    text-decoration: none;
    transition: 0.3s;

}


.footer-social a:hover {

    color: #5bbe42;

}


/* Ícones */

.footer-social img {

    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: #222;
     padding: 6px;

}


/* ==================================
   FOOTER COPYRIGHT
================================== */

.footer-copy {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,.12);

}


.footer-copy span {

    font-size: 0.85rem;
    color: #bbb;

}
