/* ==== RESPONSIVE ====*/

/* ====MOBILE FIRST ====*/
@media (max-width: 768px) {
    .tech-grid {
        display: grid;
        grid-template-columns: 1fr; /* força uma coluna */
        margin: 0 auto;
    }

    .tech-item {
        align-items: center;
        justify-content: center;
    }

    .tech-item span {
        text-align: center;
    }
}

/* ==== DESKTOP ==== */
@media (min-width: 769px) {
    .tech-grid {
        margin: 0;
    }

    .tech-item span {
        text-align: left;
        }
}